/* IMPORTS */
@import url("https://fonts.googleapis.com/css?family=Roboto:wght@300;400;500;700&display=swap");

/* VARIABLES */
:root {
    --size-sm: 5px;
    --size-md: 10px;
    --size-lg: 15px;
	--color-blue: #1b2838;
	--color-blue-dark: #171a21;
	--color-gray: #b8b6b4;
}

/* RESET */
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

/* BODY */
body {
    background-color: #1b2838;
    background: url(/assets/colored_body_top.png) center top no-repeat #1b2838;
    color: #c6d4df;
    font-family: "Roboto", sans-serif;
	font-size: 14px;
	overflow: auto;
}
body.modal-open {
	overflow: hidden;
}

/* HEADINGS */
h1, h2, h3, h4, h5, h6 {
	color: #fff;
	text-transform: uppercase;
}
h1 {
    font-size: 21px;
    font-weight: 200;
    letter-spacing: 0.07em;
    line-height: 36px;
}
h2 {
	font-size: 14px;
    font-weight: 400;
    letter-spacing: 0.03em;
	margin-bottom: 10px;
}
h3 {
    font-size: 14px;
    font-weight: 300;
    letter-spacing: 0.03em;
    font-weight: normal;
}

/* LINKS */
a {
    color: inherit;
	text-decoration: none;
}

/* BUTTONS */
.svg-button {
	background-color: transparent;
    border: none;
	cursor: pointer;
}
.svg-button svg {
	fill: #fff;
	width: 30px;
	height: 30px;
	opacity: 0.75;
	pointer-events: none;
}
.svg-button:hover svg {
	opacity: 1;
}

/* CONTAINER ***************************************************************************/
.container {
    margin: 0 auto;
	padding: 10px;
    width: 100%;
}
@media (min-width: 768px) {
    .container {
        width: 512px;
    }
}
@media (min-width: 1024px) {
    .container {
        width: 768px;
    }
}
@media (min-width: 1280px) {
    .container {
        width: 1024px;
    }
}
@media (min-width: 1920px) {
    .container {
        width: 1280px;
    }
}
@media (min-width: 2560px) {
    .container {
        width: 1920px;
    }
}

/* HEADER ***************************************************************************/
#header {
	background-color: #171a21;
}
#header > .container {
	display: flex;
	align-content: center;
    align-items: center;
	flex-direction: row;
    justify-content: space-between;
	height: 100px;
}
/* HEADER > BRAND */
.brand {
	display: block;
	width: 135px;
	margin-right: 10px;
}
.logo {
	margin: 0;
	width: 100%;
	height: auto;
}
.site-title {
	display: none;
}
/*** HEADER > MENU ***/
.menu {
	margin-right: auto;
}
.nav {
	list-style: none;
	margin: 0;
	display: flex;
    flex-direction: row;
    align-items: flex-start;
    flex-wrap: wrap;
    justify-content: flex-start;
}
.nav a {
	color: #b8b6b4;
    font-size: 14px;
    margin-right: 10px;
    text-decoration: none;
    text-transform: uppercase;
}
.nav a:hover {
	color: #fff;
}
/*** HEADER > USER INFO ***/
.user span {
	color: #b8b6b4;
    display: block;
	font-size: 11px;
}

/* BODY ***************************************************************************/
.body .container {
	padding-bottom: 30px;
	padding-top: 30px;
}
.page-header {
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: space-between;
	margin-bottom: 15px;
}
#modal-open {
	border-radius: 2px;
    background: #6fa720;
    background: -webkit-linear-gradient(left, #6fa720 5%, #588a1b 95%);
    background: linear-gradient(to right, #75b022 5%, #588a1b 95%);
	color: #d2efa9;
	display: flex;
	flex-direction: row;
	align-items: center;
	font-size: 15px;
	padding: 7px 10px;
    text-shadow: 1px 1px 0 rgba(0,0,0,0.3);
}
#modal-open:hover {
	background: #8ed629;
    background: -webkit-linear-gradient(left, #8ed629 5%, #6aa621 95%);
    background: linear-gradient(to right, #8ed629 5%, #6aa621 95%);
	color: #fff;
}
#modal-open svg {
	width: 15px;
	height: 15px;
	filter: drop-shadow(1px 1px 0 rgba(0,0,0,0.4));
	margin: 0 10px 0 0;
}

/* GAMES ***************************************************************************/
.game {
    position: relative;
    display: flex;
	align-items: center;
    flex-direction: row;
	flex-wrap: wrap;
	justify-content: space-between;
    width: 100%;
}
.game:hover {
    background-color: rgba(75, 94, 114, 0.9);
}
.game label {
	display: none;
}
.game .title {
    color: #fff;
    font-size: 14px;
    font-weight: 300;
	text-transform: none;
}
.game .notes {
	flex-grow: 1;
	padding: 10px;
	background-color: rgba(34,35,48,0.93);
	border: none;
	border-radius: 3px;
	font-size: 13px;
	color: #ebebeb;
	resize: none;
	width: 100%;
	height: 35px;
}
.game .notes:focus {
	outline: 1px solid #969696;
}
.game ul {
    list-style: none;
    padding: 0;
    margin: 0;
}
.game li {
    display: inline-block;
    font-size: 12px;
    line-height: 2;
}
.game li a {
    margin-right: 3px;
    padding: 2px 5px;
    border: 1px solid rgba(255, 255, 255, 0.2);
    color: #8f98a0;
    border-radius: 3px;
    text-decoration: none;
}
.game li a:hover {
    background: rgba(255,255,255,0.1);
}

/* GAMES > PINNED */
.game.pinned {
    margin: 0 0 var(--size-lg) 0;
	padding: 8px 10px;
	align-items: flex-start;
	justify-content: flex-start;
	backdrop-filter: blur(20px);
    background-color: rgba(0,0,0,0.3);
    border-radius: 3px;
    margin-bottom: 20px;
}
.game.pinned .title {
	padding-top: 6px;
}
.game.pinned .cover {
	display: block;
    margin: 0 10px 10px 0;
	line-height: 0;
}
.game.pinned .cover img {
    max-width: 180px;
}
.game .unpin {
	margin-left: auto;
}
.game .confirm-unpin {
    display: none;
    background: rgba(0,0,0,0.75);
    color: #fff;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    flex-direction: column;
    align-content: center;
    align-items: center;
    justify-content: center;
	z-index: 1;
}

/* GAMES > MODAL */
.modal .games {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: flex-start;
}
.modal .game {
	background: rgba(0,0,0,0.2);
	border: 1px solid rgba(139,185,224,0);
	margin-bottom: 5px;
}
.modal .game:hover {
	border: 1px solid rgba(139,185,224,0.2);
    background: rgba(0,0,0,0.4);
}
.modal .game .cover {
	min-width: 120px;
	width: 120px;
	margin: 0 10px 0 0;
	line-height: 0;
}
.modal .game img {
	width: 100%;
}
.modal .game .title {
	margin-right: auto;
	display: block;
	font-size: 14px;
	text-overflow: ellipsis;
	overflow: hidden;
	color: #c7d5e0;
}
.modal .game button {
	align-self: center;
}

/* MODAL ***************************************************************************/
.modal-container {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background: rgba(0,0,0,0.75);
    display: none;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: flex-start;
    align-items: center;
    align-content: center;
    overflow: hidden;
}
body.modal-open .modal-container {
	display: flex;
	animation-name: fade-in;
	animation-duration: 0.4s;
	animation-timing-function: ease-in-out;
	animation-delay: 0s;
	animation-iteration-count: 1;
	animation-fill-mode: none;
	animation-play-state: running;
}
.modal {
	background: #1b2838;
    display: flex;
    flex-direction: column;
    height: 100vh;
	height: auto;
    max-height: calc(100vh - 160px);
	margin: 100px 0 0 0;
	position: relative;
	width: 100vw;
	max-width: 450px;
}
.modal:after {
    background: linear-gradient( 135deg, #4c80b1, #000000);
    bottom: 0;
    content: '';
    display: block;
    left: 0;
    margin: -1px;
    position: absolute;
    right: 0;
    top: 0;
    z-index: -1;
}
.modal-header {
    background: linear-gradient( #1e2a3b, transparent );
    padding: 8px 15px;
    position: relative;
}
.modal-body {
    overflow-y: auto;
    padding: 8px 15px;
}
#modal-close {
    position: absolute;
    right: 15px;
    top: 8px;
}
/* MODAL > FILTER */
#filter {
    background-color: rgba(103,193,245,0.2);
    color: #fff;
    border: 1px solid #000;
    border-radius: 3px;
    box-shadow: 1px 1px 0px rgba(103,193,245,0.15);
    width: 100%;
    padding: 5px;
}
#filter::placeholder {
	color: #fff;
}
.modal h3 {
	margin: 20px 0 5px;
}

/* FOOTER ***************************************************************************/
#footer {
    text-align: center;
    padding: 10px;
}