/* IMPORTS */
@import url("https://fonts.googleapis.com/css?family=Roboto:wght@300;400;500;700&display=swap");

/* RESET */
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

/* VARIABLES */
:root {
    --size-sm: 5px;
    --size-md: 10px;
    --size-lg: 15px;
}

/* BODY */
body {
    background: #171a21;
    background: url(https://store.cloudflare.steamstatic.com/public/images/v6/colored_body_top2.png) center top fixed no-repeat #1b2838;
    color: #c6d4df;
    font-family: "Roboto", sans-serif;
}

a {
    color: inherit;
}

/* CONTAINER ***************************************************************************/
.container {
    margin: 0 auto;
    width: 100%;
}
@media (min-width: 768px) {
    .container {
        width: 680px;
    }
}
@media (min-width: 1024px) {
    .container {
        width: 992px;
    }
}
@media (min-width: 1920px) {
    .container {
        width: 1200px;
    }
}




.menu,
.games {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: flex-start;
}

.menu {
    justify-content: space-between;
/* HEADER ***************************************************************************/
    align-items: center;
}
.menu #logo {
    margin: 20px auto 20px 0;
}
.menu a {
    font-size: 14px;
    margin-right: 10px;
    text-decoration: none;
    text-transform: uppercase;
}
/* GAMES ***************************************************************************/

.game {
    background-color: rgba(64, 81, 99, 0.9);
    padding: var(--size-lg);
    position: relative;
    margin: 0 0 var(--size-md) 0;
    display: flex;
    flex-direction: column;
    width: 100%;
}
.game:hover {
    background-color: rgba(75, 94, 114, 0.9);
}
.game .cover {
    margin: 0 0 var(--size-lg) 0;
}
.game .cover img {
    width: 100%;
}
.game .title {
    color: #fff;
    font-size: 22px;
    font-weight: 400;
    margin: 0 0 var(--size-lg) 0;
}
.game ul {
    list-style: none;
    padding: 0;
    margin: 0;
}
.game li {
    display: inline-block;
    font-size: 12px;
    line-height: 2;
}
.game li a {
    margin-right: 3px;
    padding: 2px 5px;
    border: 1px solid rgba(255, 255, 255, 0.2);
    color: #8f98a0;
    border-radius: 3px;
    text-decoration: none;
}
.game li a:hover {
    background: rgba(255, 255, 255, 0.1);
}


@media (min-width: 1024px) {
    .game {
        width: calc( 50% - var(--size-md) );
        margin: 0 var(--size-md) var(--size-md) 0;
    }
    .game.recent {
        width: calc( 25% - var(--size-md) );
    }
}
@media (min-width: 1920px) {
    .game {
        width: calc( 33% - var(--size-lg) );
        margin: 0 var(--size-lg) var(--size-lg) 0;
    }
}

button > svg {
	pointer-events: none;
}

.pin, 
.unpin {
	background-color: transparent;
    border: none;
	width: 30px;
	height: 30px;
}
.pin svg,
.unpin svg {
	fill: white;
	max-width: 100%;
	max-height: 100%;
}

.confirm-unpin {
    display: none;
    background: rgba(0,0,0,0.75);
    color: #fff;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    flex-direction: column;
    align-content: center;
    align-items: center;
    justify-content: center;
}

/* MODAL ***************************************************************************/
.modal-container {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background: rgba(0,0,0,0.5);
    display: none;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: flex-start;
    align-items: center;
    align-content: center;
    overflow: hidden;
}
.modal {
    background: #202326;
    display: flex;
    flex-direction: column;
    height: 720px;
    margin-top: 100px;
    position: relative;
    width: 1100px;
}
.modal:after {
    background: linear-gradient( 135deg, #4c80b1, #000000);
    bottom: 0;
    content: '';
    display: block;
    left: 0;
    margin: -1px;
    position: absolute;
    right: 0;
    top: 0;
    z-index: -1;
}
.modal-header {
    background: linear-gradient( #1e2a3b, transparent );
    padding: 8px 15px;
    position: relative;
}
.modal-body {
    overflow-y: scroll;
    padding: 8px 15px;
}
#modal-close {
    position: absolute;
    right: 15px;
    top: 8px;
}

/* FOOTER ***************************************************************************/
#footer {
    text-align: center;
    padding: 10px;
}